.zenhr-button {
  padding: 0.9rem;
  height: 3.5rem;
  min-width: 9rem;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.zenhr-primary-button {
  color: $white;
  --bg-opacity: 1;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover, :focus {
    color: $primary-color;
    background-color: $white;
    border-color: $primary-color;
    box-shadow: 0 0 0.25rem 0 $primary-color;
  }

  &:disabled {
    opacity: 0.65;
  }
}

.zenhr-danger-button {
  color: $white;
  --bg-opacity: 1;
  background-color: #f56565;

  &:hover, :focus {
    background-color: #e53e3e;
  }

  &:disabled {
    background-color: #feb2b2;
  }
}

.zenhr-outline-button {
  color: #805ad5;
  border-color: #805ad5;
  --bg-opacity: 1;
  background-color: $white;

  &:hover, :focus {
    background-color: #edf2f7;
  }

  &:disabled {
    background-color: #f7fafc;
  }
}